h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    margin-right: 10px;
}

.status {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

p, ul {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
